
[Desktop Entry]
Name=QuickSetup
Comment=Launch QuickSetup
Exec=QuickSetup
Icon=PSUbuntu.png
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;
StartupNotify=true
Encoding=UTF-8
GenericName=QuickSetup
